<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sleep Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sleep Tracker</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container3">
    <ion-button expand="block" (click)="OvernightSleep()">
      <strong>Log a overnight sleep</strong>
    </ion-button>
  </div>
  <div id="container2">
    <ion-button expand="block" (click)="Sleepiness()">
      <strong>Log daytime sleepiness</strong>
    </ion-button>
  </div>
</ion-content>
