<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="back()"></ion-back-button>
    </ion-buttons>
    <ion-title>Sleepiness</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
      <ion-label>Enter Sleepiness (Tap here)</ion-label>
      <ion-select okText="Enter" cancelText="Back" [(ngModel)]="degree">

        <ion-select-option value="1">1. Feeling active, vital, alert, or wide awake</ion-select-option>

        <ion-select-option value="2">2. Functioning at high levels, but not at peak; able to concentrate</ion-select-option>

        <ion-select-option value="3">3. Awake, but relaxed; responsive but not fully alert</ion-select-option>

        <ion-select-option value="4">4. Somewhat foggy, let down</ion-select-option>

        <ion-select-option value="5">5. Foggy; losing interest in remaining awake; slowed down</ion-select-option>

        <ion-select-option value="6">6. Sleepy, woozy, fighting sleep; prefer to lie down</ion-select-option>

        <ion-select-option value="7">7. No longer fighting sleep, sleep onset soon; having dream-like thoughts</ion-select-option>

      </ion-select> 

    </ion-item>
  <ion-row style="height: 25px"></ion-row>
  <ion-button expand="block" (click)="addEntry()">
    Add Entry
  </ion-button>
  <ion-row style="height: 25px"></ion-row>
  <ion-item>
    <ion-label> Your Sleepiness Log History: </ion-label>
  </ion-item>
  <ion-card *ngFor="let sleepData2 of sleepinessDataArray">
    <ion-item>
      <ion-label>{{sleepData2.dateString()}}</ion-label>
    </ion-item>
    <ion-card-content>{{sleepData2.summaryString()}}</ion-card-content>
  </ion-card>

</ion-content>