<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="back()"></ion-back-button>
    </ion-buttons>
    <ion-title>Pastlogs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment (ionChange)="segmentChanged($event)" value="sleepData">
      <ion-segment-button value="sleepData">
          <ion-label>Sleep Data</ion-label>
        </ion-segment-button>
        <ion-segment-button value="sleepinessData">
          <ion-label>Sleepiness Data</ion-label>
        </ion-segment-button>
  </ion-segment>

  <!-- Overnight Sleep Data-->
  <div *ngIf=showSleepDataCards>
  </div>

  <!-- Sleepiness Data-->
  <div  *ngIf=showSleepinessDataCards >
    <ion-card *ngFor="let sleepinessData of sleepinessDataArray">
      <ion-item>
        <ion-label>{{sleepinessData.loggedAt}}</ion-label>
      </ion-item>
      <ion-card-content>{{sleepinessData.summaryString()}}</ion-card-content>
    </ion-card>
  </div>
</ion-content>